<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="main_fun">
        <div class="form">
            {% block form %}{% endblock %}
        </div>
        <div class="final">
            {% block data %}{% endblock %}
            {% block result %}{% endblock %}
        </div>
    </div>
    <div class="go_back">
        <a href="{{ url_for('base') }}">Powrót</a>
    </div>
</body>
</html>