<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Algorytmy optymalizacyjne - Zadanie 1</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="main">
        <div class="criterions">
            <a class="c" href="{{ url_for('choose_template', source='wald') }}">
                Kryterium Walda
            </a>
            <a class="c" href="{{ url_for('choose_template', source='optimistic') }}">
                Kryterium optymistyczne
            </a>
            <a class="c" href="{{ url_for('choose_template', source='hurwicz') }}">
                Kryterium Hurwicza
            </a>
            <a class="c" href="{{ url_for('choose_template', source='bayes_laplace') }}">
                Kryterium Bayesa-Laplace'a
            </a>
            <a class="c" href="{{ url_for('choose_template', source='savage') }}">
                Kryterium Savage'a
            </a>
        </div>
    </div>
</body>
</html>