<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wybór</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="choose">
        <form method="post" action="/choose">
            <h3>Wybierz sposób wprowadzenia danych:</h3>

            <div class="option">
                <input type="radio" id="send_file" name="choose" value="{{ source }} send_file" required>
                <label for="send_file">Wyślij plik</label>
            </div>

            <div class="option">
                <input type="radio" id="enter_manually" name="choose" value="{{ source }} enter_manually">
                <label for="enter_manually">Wprowadź ręcznie</label>
            </div>

            <div class="option" id="last" style="visibility: collapse">
                <input type="number" name="rows" id="rows" placeholder="Liczba wierszy">
                <input type="number" name="columns" id="columns" placeholder="Liczba kolumn">
            </div>

            <button type="submit">Zatwierdź wybór</button>
        </form>
    </div>
    {% if c_error %}
        {{ c_error }}
    {% endif %}
    <script type="application/javascript">
        addEventListener('change', event => {
            let radio_value = document.getElementById('enter_manually').checked
            let rows_columns = document.getElementById('last')
            rows_columns.style.visibility = radio_value === true ? 'visible' : 'collapse'
        })
    </script>
</body>
</html>